@model int

<div class="container row pt-4 pb-5">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully!</h1>
        Your order number is: @Model <br /> <br />
        <img src="~/images/rock.jpg" class="img-fluid d-block mx-auto" style="max-width: 400px; width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 8px; background-color: #f8f9fa;" />
        <div class="col-12 text-center" style="color:maroon">
            <br />
            You will receive a confirmation email shortly.<br />
        </div>
    </div>
</div>