@model int

<div class="container row pt-4 pb-5">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfuly!</h1>
        Your order number is: @Model <br /> <br />
        <img src="~/images/rock.jpg" width="50%"/>
        <div class="col-12 text-center" style="color:maroon">
            <br />
            You will receive a confirmation email shortly.<br />
        </div>
    </div>
</div>