@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Decibels</h1>
    <p>The newborn <i class="bi bi-heart-fill"></i> of progressive musical instruments in town!</p>
</div>